body{
    background-color: ;
}

ul.nav-pills {
    margin-left: -8%;
    top: 20px;
    position: fixed;
}

div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
    margin-left: -20%;
}



#section41 {
    color: black; background-color: #fff;
}

#section42 {
    color: black; background-color: #fff;
}